/* Styrene Font Face Declarations */
@font-face {
	font-family: 'Styrene A';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneA-Thin-Trial-BF63f6cbd91263f.otf') format('opentype');
}

@font-face {
	font-family: 'Styrene A';
	font-style: italic;
	font-weight: 100;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneA-ThinItalic-Trial-BF63f6cbd95634b.otf')
		format('opentype');
}

@font-face {
	font-family: 'Styrene A';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneA-Light-Trial-BF63f6cbd99dc3e.otf') format('opentype');
}

@font-face {
	font-family: 'Styrene A';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneA-LightItalic-Trial-BF63f6cbd9cb933.otf')
		format('opentype');
}

@font-face {
	font-family: 'Styrene A';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneA-Regular-Trial-BF63f6cbd970ee9.otf')
		format('opentype');
}

@font-face {
	font-family: 'Styrene A';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneA-RegularItalic-Trial-BF63f6cbd94325f.otf')
		format('opentype');
}

@font-face {
	font-family: 'Styrene A';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneA-Medium-Trial-BF63f6cbdb24b6d.otf')
		format('opentype');
}

@font-face {
	font-family: 'Styrene A';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneA-MediumItalic-Trial-BF63f6cbd925a68.otf')
		format('opentype');
}

@font-face {
	font-family: 'Styrene A';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneA-Bold-Trial-BF63f6cbda1877f.otf') format('opentype');
}

@font-face {
	font-family: 'Styrene A';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneA-BoldItalic-Trial-BF63f6cbd9bec08.otf')
		format('opentype');
}

@font-face {
	font-family: 'Styrene A';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneA-Black-Trial-BF63f6cbd9da245.otf') format('opentype');
}

@font-face {
	font-family: 'Styrene A';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneA-BlackItalic-Trial-BF63f6cbd7cb688.otf')
		format('opentype');
}

/* Styrene B Font Face Declarations */
@font-face {
	font-family: 'Styrene B';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneB-Thin-Trial-BF63f6cc84a4246.otf') format('opentype');
}

@font-face {
	font-family: 'Styrene B';
	font-style: italic;
	font-weight: 100;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneB-ThinItalic-Trial-BF63f6cbe8d3333.otf')
		format('opentype');
}

@font-face {
	font-family: 'Styrene B';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneB-Light-Trial-BF63f6cbe64b47b.otf') format('opentype');
}

@font-face {
	font-family: 'Styrene B';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneB-LightItalic-Trial-BF63f6cbe9d67d1.otf')
		format('opentype');
}

@font-face {
	font-family: 'Styrene B';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneB-Regular-Trial-BF63f6cbe9db1d5.otf')
		format('opentype');
}

@font-face {
	font-family: 'Styrene B';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneB-RegularItalic-Trial-BF63f6cbe5c1942.otf')
		format('opentype');
}

@font-face {
	font-family: 'Styrene B';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneB-Medium-Trial-BF63f6cc85760c2.otf')
		format('opentype');
}

@font-face {
	font-family: 'Styrene B';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneB-MediumItalic-Trial-BF63f6cc84a421a.otf')
		format('opentype');
}

@font-face {
	font-family: 'Styrene B';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneB-Bold-Trial-BF63f6cbe9f13bb.otf') format('opentype');
}

@font-face {
	font-family: 'Styrene B';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneB-BoldItalic-Trial-BF63f6cbe6863e6.otf')
		format('opentype');
}

@font-face {
	font-family: 'Styrene B';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneB-Black-Trial-BF63f6cbe3dc69b.otf') format('opentype');
}

@font-face {
	font-family: 'Styrene B';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url('/fonts/styrene-font-family/StyreneB-BlackItalic-Trial-BF63f6cbe2d985b.otf')
		format('opentype');
}
